.sponsor-table {
  display: table
}

.sponsor-attention {
  font-weight: bold;
  text-align: center;
}

.tier-title
  margin: 32px 0 10px
  img
    height: 40px

  h3
    padding-left: 10px
    font-size: 1.3rem
    margin: 0
    vertical-align: middle

.tier-sponsors
  text-align: center

figure
  display: inline-block
  margin: 15px
  width: 300px

  img
    max-width: 300px
    max-height: 80px
    border-radius: 3px
    margin-bottom: 12px

  figcaption
    border-top: 1px solid #ccc
    font-size: 0.8rem

.clearboth {
  clear: both;
  display: block;
}
