footer.footer
  p.small &copy; 2017 Imperial College DoCSoc
  p <br>
  p DoCSoc (605) <br> Imperial College Union <br> Beit Quadrangle <br> Prince Consort Road <br> London SW7 2BB
  p <br>
  p 
    | Imperial College DoCSoc is a society of 
    strong #[a(href="https://imperialcollegeunion.org") Imperial College Union]
  p <br>
  p
    a(href='https://imperialcollegeunion.org')
      img(width='150px', src='/img/imperialcollegeunion.svg')
  p <br>
  p
    a(href=locals.archiveUrl, title='Blog posts archive') Archive
