/* -------------------------
 * FONTS
 * -------------------------
 */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  border-bottom: 1px solid #e4e4e4;
}

h1, h2, h3, h4 {
font-family: "Montserrat",Geneva,Verdana,sans-serif;
}

.hero h1 {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}

hero h2 {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  border-bottom: none;
  margin-top: 10px;
  color: #bbeeff;
}

.hero .summary p {
  font-size: 20px;
  line-height: 24px;
  font-family: 'Source Sans Pro'
}
