*, *:before, *:after
  box-sizing border-box

html
  background-color #F3F5F7
  color #222
  font-family 'Source Sans Pro', sans-serif
  -webkit-font-smoothing antialiased

a
  color #3288CA
  text-decoration none
  h1
    color #2F2F2F
    text-decoration none

img
  vertical-align middle
  max-width 100%
  height auto

.content img
  width 100%

.chromeframe
  background #FFFFA3
  padding 10px 20px
  margin-top 0
  margin-bottom 0

h1, h2, h3, h4, h5, h6
  font-family 'Source Sans Pro', sans-serif

h1
  margin-top 23px
  font-size 23px
  line-height 30px

h2,
h3
  margin-top 28px
  font-size 16px
  line-height 23px

p
  font-size 15px
  line-height 23px
  color #585858
  a
    text-decoration underline

ul, ol
  margin-left 20px
  font-size 15px
  line-height 23px
  color #585858

ul li, ol li
  margin-bottom 15px

blockquote
  border-left 5px solid #DDDDDD
  margin-left 0
  p
    padding-left 30px

@media (min-width: 801px)
  h1
    margin-top 30px
    margin-bottom 0

  hr
    display block
    height 1px
    border 0
    border-top 1px solid #ccc
    margin 1em 0
    padding 0

@require "layout"
@require "type"
@require "fonts"
@require "utils"

@require "modules/header"
@require "modules/footer"
@require "modules/highlight"
@require "modules/pagination"
@require "modules/post"
@require "modules/about"
@require "modules/archive"
@require "modules/sponsors"
@require "modules/recent-article"
@require "modules/event"
@require "modules/social"
@require "modules/site"
